@font-face {
    font-family: 'PressStart2P';
    src: url('./assets/font/PressStart2P-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .profile-card {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: #301650;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  
  .profile-info h1 {
    margin-bottom: 5px;
  }
  
  .profile-info p {
    margin-top: 5px;
  }
  
  .profile-card br {
    display: block;
    content: "";
    margin: 10px auto;
    width: 50%;
    border-bottom: 1px solid #fff;
  }
  
  .profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    border: 2px solid #ffffff;
    z-index: 1;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
  
  #muteButton {
    position: relative;
    bottom: 10px;
    right: -510px;
    top: 10px;
    background-color: #301650;
    opacity: 0.7;
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }

  #funkybottons {
    position: relative;
    bottom: 10px;
    right: -10px;
    top: -33px;
    background-color: #301650;
    opacity: 0.7;
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }

  .reveal-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
    opacity: 1;
    font-family: 'PressStart2P', monospace;
    overflow: hidden;
  }
  
  .reveal-button p {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgb(220, 220, 220);
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 18% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }

  .profile-picture {
    position: relative;
  }
  
  .now-playing img {
    height: 275px;
    width: 500px;
  }
  
  .now-playing a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
  }
  
  .now-playing a:hover {
    color: #979797;
  }
  
  .background-image {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    filter: blur(5px) brightness(1) grayscale(0.2);
    object-fit: cover;
  }

  .bio-description {
    margin-top: 10px;
  }
  
  .social-buttons {
    margin-top: 20px;
  }
  
  .social-buttons a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
  }
  
  .social-buttons a svg {
    margin-right: 5px;
  }
  
  .social-buttons a:hover {
    color: #979797;
  }


.discord-status-circle {
    position: relative;
    bottom: 15px;
    right: 200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(139, 139, 139);
    border: 2px solid #ffffff;
    z-index: 10;
  }


  @media (max-width: 600px) {
    #muteButton {
        position: relative;
        bottom: 10px;
        right: -370px;
        top: 10px;
        background-color: #301650;
        opacity: 0.7;
        border: 2px solid #ffffff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
      }
    
      #funkybottons {
        position: relative;
        bottom: 10px;
        right: -25px;
        top: -33px;
        background-color: #301650;
        opacity: 0.7;
        border: 2px solid #ffffff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
      }

  }
  